<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_minimalist"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/app_icon_minimalist"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIChat">
        <activity
            android:name="com.yozora.aichat.MainActivity"
            android:exported="true"
            android:icon="@drawable/app_icon_minimalist"
            android:windowSoftInputMode="adjustNothing" />

        <activity-alias
            android:name="${applicationId}.MainActivityZoraMinimalistAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/app_icon_minimalist"
            android:label="Zora.AI"
            android:targetActivity="com.yozora.aichat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.MainActivityZoraWaifuAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/app_icon_waifu"
            android:label="Zora.AI"
            android:targetActivity="com.yozora.aichat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.MainActivitySlvMinimalistAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/app_icon_minimalist"
            android:label="SanLoVerse (SLV)"
            android:targetActivity="com.yozora.aichat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.MainActivitySlvWaifuAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/app_icon_waifu"
            android:label="SanLoVerse (SLV)"
            android:targetActivity="com.yozora.aichat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.yozora.aichat.data.remote.ScreenShareForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|microphone" />
    </application>

</manifest>
